/* You can add global styles to this file, and also import other style files */

@import url(https://bootswatch.com/4/darkly/bootstrap.min.css);

.app-clickable {
    cursor: pointer;
}

.movie-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 15px; /* Space between columns and rows */
    padding: 15px; /* Optional padding for the container */
}

.card {
    margin: 0; /* Remove margins if using grid gap for spacing */
    border: 1px solid lightgrey; /* Add light grey border */
    border-radius: 5px; /* Optional: Add rounded corners if desired */
    padding: 0 15px; /* If needed for inner spacing */
    background-color: #3b4b60; /* Ensure the card background color is set if needed */
}

.alert-info {
    background-color: #3b4b60;
}