<article class="question question-type-normal">
    <h2>{{question?.question}}</h2>
    <div class="question-author">
      <a href="" class="question-author-img tooltip-n">
        <span> </span>
        <img
          [src]="question?.logo"
          alt=""
      /></a>
    </div>
    <div class="question-inner">
      <p class="question-desc" [innerHTML]="question?.answer">
      
      </p>
    </div>
    <!-- <div class="question-details">
      <span class="question-answered question-answered-done">
        <i class="icon-ok"></i> {{question?.language}}
      </span>
    </div> -->
  </article>